div.mycontainer {
    width: 100%;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.mycontainer div {
    width: 23%;
    position: relative;
    left: 10px;
    top: 10px;
    float: left;
    border: solid black 1px;
    font-family: Arial, Helvetica, sans-serif;
  }



  .newUpcoming {
    position: absolute;
    left: 0px;
  }


  .newStarting {
    position: absolute;
    left: 0px;
  }

  .newWorking {
    position: absolute;
    
  }

  .newReady {
    position: absolute;
  }

  div.theFormDiv {
    border: solid black 0px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .heading {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button.dialogButton {
    background-color: #baeaf9;
    border: solid black 1px;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .newUpDeleteBut {
    position: absolute;
    left:88%;
    top: 0px;
  }

  .upFlex {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0px;
  }

  .pModifiedCss {
    border:solid black 1px;
     /*top: 100px; */
    left: 0px;
    position: absolute;
    width: 23%;
    inline-size: 100%;
    overflow-wrap: break-word;
    display: inline;
//    background: #cfcece;
  }